.background {
	background-image: url("https://avatars.mds.yandex.net/get-pdb/1767558/6cacf78e-6ca9-4c2e-925a-0fffea99b755/s1200?webp=false");
	width: 100%;
	
}
.container {
	background-color: #FFFFFF;
}
.nav {
  background: #FF00FF;
}

.nav-item {
  padding: 7px;
}

.nav-item:hover, .active {
  background: #FFC0CB;
}

.nav-link, .nav-link:hover {
  
  color: #FFF8DC;
  font: bold 18px sans-serif;
}
.images {
	    max-width: auto;
    height: auto;
    margin-left: 10%;
}
.zagolovok1 {
	text-align: center;
	font-family: Open Sans;
	color: #FF00FF;
}
.zagolovok2 {
	text-align: center;
	font-family: Capture it 2;
	color: #FF00FF;
	font-size: 30px;
	padding-top: 10px; 
}
.footer {
	padding-top: 5px;
}
.video {
	width: 100%;
	margin-top: 10px;
}