.food-block {
  background-image: url("https://i.artfile.ru/1600x1200_340145_%5Bwww.ArtFile.ru%5D.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.nav {
  background: #FF00FF;
}

.nav-item {
  padding: 7px;
}

.nav-item:hover, .active {
  background: #FFC0CB;
}

.nav-link, .nav-link:hover {
  
  color: #FFF8DC;
  font: bold 18px sans-serif;
}


.zagolovok3 {
  font-size: 20px;
  color: #FF8C00;
  margin-left: 10px; 

}
.zagolovok {
  text-align: center;
  font-size: 35px; 
  color: #800080;
}
.zagolovok2 {
  font-size: 20px;
  color: red;
}

.images {
  width: 100%;
  height: 80%;
}
.col-md-4 {
	margin-top: 50px;
}
.footer {
	margin-top: 50px;
}
p {
	color: #FF1493;
}

#bottom {
    background: #232323;
    color: #6f6f6f;
    margin-top: 10px;
}

